/* Стилі за замовчуванням */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 1rem;
}

header h1 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
}

section {
    padding: 1rem;
}

footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: #fff;
}
.block{
    width: 100%;
    background-color: green;
}
.header{
    width: 100%;
    background-color: blue;
    border: 3px solid red;
    height: 45px;
}

/* Стилі для екранів менше 600 пікселів */
@media (max-width: 600px) {
    header h1 {
        font-size: 1rem;
    }
    
    section h2 {
        font-size: 1.4rem;
        color: crimson;
    }
    section h3{
        font-size: 1.1rem;
        color: red;
    }
    section h4{
        font-size: 0.9rem;
        color: aqua;
    }
    section h5{
        font-size: 1.5rem;
        color: black;
    }
    section h6{
        font-size: 1.7rem;
        color: tan;
    }
    .block{
        background-color: goldenrod;
    }
    .header{
        width: 100%;
        background-color: yellow;
        border: 1px solid red;
        height: 20px;
    }
}

/* Стилі для екранів більше 600 пікселів */
@media (min-width: 601px) {
    header h1 {
        font-size: 2.2rem;
    }
    
    section h2 {
        font-size: 1.9rem;
    }
    section h3{
        font-size: 2rem;
        color: grey;
    }
    section h4{
        font-size: 2.1rem;
        color: red;
    }
    section h5{
        font-size: 1.9rem;
        color: blue;
    }
    section h6{
        font-size: 2.2rem;
        color: chartreuse;
    }
}

