body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1 {
    color: darkblue;
    font-size: 50px;
}

p {
    font-size: 18px;
    color: darkgreen;
}

.nav {
    background-color: lightblue;
    padding: 15px;
    text-align: center;
}

.nav a {
    color: darkred;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}